.login-modal-container {
  border: 3px solid rgb(36, 35, 35);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #f0ead2;
  display: flex;
}

.side-image-and-logo {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side-image-and-logo h1 {
  font-family: "Archivo Black", sans-serif;
  letter-spacing: -5px;
  font-size: 49px;
  padding: 5px;
  color: rgb(36, 35, 35);
}

.side-image-and-logo img {
  width: 85%;
  height: 60%;
}

.session-form {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.session-form * {
  display: block;
}

.session-form h2 {
  font-size: 48px;
  margin-bottom: 30px;
}

.session-form span {
  font-size: 20px;
  margin-left: 10%;
  font-weight: 300;
  text-transform: lowercase;
  margin-bottom: 5px;
}

.session-form label {
  width: 100%;
}

.session-form input[type="text"],
.session-form input[type="password"] {
  width: 80%;
  padding: 9px;
  margin: auto;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 3%;
  font-size: 15px;
  border: 2px solid rgb(36, 35, 35);
}

.session-form input[type="submit"] {
  margin-top: 10px;
  padding: 5px 0;
  width: 80%;
  border-radius: 999px;
  font-family: "Kanit", sans-serif;
  background-color: #f4a259;
  font-size: 20px;
  text-transform: uppercase;
  border: 2px solid rgb(36, 35, 35);
  transition: 0.3s all ease;
}

.session-form input[type="submit"]:hover {
  cursor: pointer;
  background-color: #f57621;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.session-form input[type="submit"]:active {
  box-shadow: inset 0px 0px 5px rgba(12, 1, 1, 0.55);
  transform: translateY(4px);
}

.session-form .errors {
  color: red;
  font-weight: 300;
}

.session-form-names-input {
  width: 80%;
  display: flex;
  gap: 10px;
  margin-bottom: 3%;
}

.session-form-names-input input[type="text"] {
  width: 100%;
  margin: 0;
}

.session-form-names-input span {
  margin-left: 0;
}

.switch-login-modal {
  display: flex;
}

.switch-login-modal p:nth-child(2) {
  margin-left: 1ch;
  cursor: pointer;
  font-weight: 500;
}
