.recommendations-grid-favorites,
.recommendations-grid-reviews {
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 20px; 
  display: grid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

/* .recipe-container {
  background-color: #ddd;
  padding: 20px;
} */

.recommendations {
    text-align: center;
  }
  
  .recommendations-title,
  .recommendations-header-favorites,
  .recommendations-header-reviews {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  .recommendations-title {
    font-size: 2em;
    margin-bottom: 40px;
  }
