.recommendations-grid-favorites,
.recommendations-grid-reviews {
  /* display: grid; */
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  grid-gap: 20px; /* Set the gap between grid items */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

/* .recipe-container {
  background-color: #ddd;
  padding: 20px;
} */

.recommendations {
    text-align: center;
  }
  
  .recommendations-title,
  .recommendations-header-favorites,
  .recommendations-header-reviews {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  .recommendations-title {
    font-size: 2em;
    margin-bottom: 40px;
  }

