.recommendations-grid-favorites,
.recommendations-grid-reviews {
  grid-template-columns: repeat(4, 1fr); 
  grid-gap: 20px; 
  display: grid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  padding: 0px 20px;
}

/* .recipe-container {
  background-color: #ddd;
  padding: 20px;
} */

.recommendations {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
  }
  
  .recommendations-title,
  .recommendations-header-favorites,
  .recommendations-header-reviews {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .recommendations-title {
    font-size: 2.5em;
    margin-bottom: 40px;
    font-weight: 700;
  }

  .discover-recipe-country {
    text-transform: capitalize;
    font-size: 0.9em;
    color: rgb(109, 109, 109);
    font-weight: 300;
  }


@media (max-width: 920px) {
  .recommendations-title {
    font-size: 1.7em;
  }

  .recommendations-header-favorites {
    font-size: 1.3em;
  }
  
}