#error-page-root {
    width: 100vw;
    height: 100vh;
}

#error-messages {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#message-404 {
    color: rgba(252, 10, 10, 0.774);
    font-size: 13rem;
    font-weight: 900;
}

#page-not-found {
    font-size: 2rem;
}