.below-header-container {
    width: 100vw;
    height: auto;
    /* border: 1px dotted red; */
    position: relative;

    /* carousel testing */
    height: 87vh;
}
  
  
.below-header-container .side-region-text {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 9vw;
    box-sizing: border-box;
    /* border: 1px solid red; */

    position: absolute;
    bottom: 0;
    right: 0;

}
.below-header-container .side-region-text h1 {
    margin: 0;
    padding: 0;
    color: #F1F1F1;
    text-shadow: 7px 7px 14px #e0e0e0,
               -7px -7px 14px #ffffff;
    cursor: default;
}

.recipe-index-title {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 48px;
    font-weight: 500;
    color: rgb(46, 46, 46);

    
}

  
.recipes-index {
    /* padding: 30px; */
    box-sizing: border-box;
    width: 90%;
    position: relative;
    /* border: 1px solid green; */
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
        /* carousel testing */
        /* width: 100%; */
        height: 70%;
        /* carousel testing */
}

.recipes-index .swiper-slide:nth-child(odd) .recipe-card {
    background-color: #DDE5B6;
}
  
.recipe-card {
    width: 572px;
    height: 600px;
    border: 3px solid rgb(47, 48, 47);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #E8A87C;

    /* carousel */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}


  
.recipe-card .image-placeholder {
    margin: 20px auto;
    width: calc(100% - 46px);
    height: 50%;
    background-color: rgb(238, 237, 237);
    border-radius: 10px;
    border: 3px solid rgb(47, 48, 47);
}
.recipe-card .recipe-quick-info-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 10px;
}
  
.view-recipe-button {
    width: 50%;
    padding: 15px 0px;
    border-radius: 999px;
    border: 3px solid rgb(47, 48, 47);
    margin-top: 10%;
    font-family: 'Kanit', sans-serif;
    transition: 0.3s all ease;
    background-color: #F0EAD2;
    
}
  
.view-recipe-button:hover {
    cursor: pointer;
    background-color: #F0EAD2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.view-recipe-button:active {
    box-shadow: inset 0px 0px 5px rgba(12, 1, 1, 0.55);
    transform: translateY(4px);
}
  
.recipe-quick-info-container h1 {
    font-family: 'Kanit', sans-serif;
    color: rgb(46, 46, 46);
    font-size: 40px;
}

.recipe-quick-info-container p {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    color: #858484;
}


/* carousel */
/* .card--active {
    opacity: 1;
    transform: scale(1);
    z-index: 99;
}

.card--left {
    transform: translateX(-80%) scale(0.9);
    transition: 500ms;
    opacity: 0.7;
}

.card--right {
    transform: translateX(80%) scale(0.9);
    transition: 500ms;
    opacity: 0.7;
} */

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #F1F1F1;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-button-prev {
    color: rgb(68, 68, 68) !important; 
}

.swiper-button-next {
    color: #353535 !important; 
}

@media (max-width: 1978px) {
    .recipe-card {
        width: 90%;
        height: 90%;
        border: 3px solid rgb(47, 48, 47);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        background-color: #E8A87C;
    }
}