#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 105;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50;
}

#modal-content {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  width: min(100% - 30px, 900px);
  height: 70vh;
  z-index: 50;
}

@media (max-width: 977px) {
  #modal-content {
    width: 100%;
  }
}

@media (max-height: 833px) {
  #modal-content {
    height: 100vh;
  }
}
