.recipe-show-page-container {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  position: relative;
  justify-content: center;

}

.recipe-show-page-container > div {
  box-sizing: border-box;
  line-height: 1.6em;
  border-radius: 10px;
}

.recipe-show-page-container .details-container {
  width: 20%;
  padding: 12px;
}

.recipe-show-page-container .details-container div {
  padding: 10px;
  border-radius: 10px;
}

.recipe-show-page-container .details-container div:not(:last-child),
.macros-container div:not(:last-child) {
  margin-bottom: 12px;
}

.recipe-show-page-container .main-recipe-content-container {
  width: 58%;
  padding: 20px;

  line-height: 1.2;
}

.recipe-index-recipe-name {
  text-align: center;
}

.recipe-show-page-container .macros-container {
  width: 20%;
  /* padding: 12px; */
  box-sizing: border-box;
  font-weight: 300;
  overflow-y: scroll;
  height: fit-content;
  max-height: 800px;
  /* min-width: 400px; */
}

.recipe-show-page-container .macros-container > div {
  padding: 10px;
  border-radius: 10px;
}

.image-placeholder-recipe-show {
  width: 90%;
  height: 40vh;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.image-placeholder-recipe-show img {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.main-recipe-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebebeb;
}
.main-recipe-content-container h1 {
  font-size: 300%;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 10px;
}

.main-recipe-info-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-pin {
  width: 25px;
  height: 25px;
}

.main-recipe-info-header div {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.main-recipe-content-container div {
  margin-bottom: 20px;
}

.main-recipe-info-header div h3 {
  color: gray;
}

.details-container h2,
.main-recipe-content-container h2,
.macros-container h2 {
  font-size: 170%;
  padding-bottom: 10px;
  font-weight: 500;
}

.macros-container h2 {
  padding: 0px 20px 20px 20px;
}

.follow-along-button {
  border: 2px solid rgb(20, 20, 20);
  padding: 10px 100px;
  font-size: 18px;
  border-radius: 999px;
  transition: 0.3s all ease;
  background-color: #ffd803;
  text-transform: uppercase;
}

.follow-along-button:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.follow-along-button:active {
  box-shadow: inset 0px 0px 5px rgba(12, 1, 1, 0.55);
  transform: translateY(4px);
}
.follow-along-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredients-container {
  box-sizing: border-box;
}

.ingredients-container ul li {
  list-style: circle;
  list-style-position: inside;
  font-weight: 300;
}

.ingredients-container p {
  display: inline;
  font-weight: 500;
  color: rgb(36, 35, 35);
}

.smaller-content-info,
.youtube-links-container {
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  gap: 2%;
  display: flex;
  margin-bottom: 0;
}

.smaller-content-info > div {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  line-height: 1;
  padding: 10px;
  box-sizing: border-box;
}

.smaller-content-info > div h2 {
  font-size: 18px;
  padding-bottom: 5px;
  font-weight: 300;
}

.smaller-content-info > div p {
  font-size: 22px;
}

.tags-p {
  text-transform: lowercase;
}

.smaller-content-info .icon {
  width: 60px;
  height: 60px;
}

.tag {
  text-transform: capitalize;
}

@media (max-width: 1600px) {
  .details-container h2,
  .main-recipe-content-container h2,
  .macros-container h2 {
    font-size: 140%;
  }

  .main-recipe-content-container h1 {
    font-size: 190%;
  }
}

@media (max-width: 1300px) {
  .recipe-show-page-container {
    width: 100%;
  }
  .main-recipe-content-container h1 {
    font-size: 200%;
  }
}

@media (max-width: 930px) {
  .recipe-show-page-container {
    margin-top: 120px;
  }
}

/* temporary css placeholder for macros */
.macro-bar-1 {
  width: 60px;
  background-color: #ffd803;
  height: 10px;
}

.macro-bar-2 {
  width: 40px;
  background-color: #ffd803;
  height: 10px;
}

.macro-bar-3 {
  width: 20px;
  background-color: #ffd803;
  height: 10px;
}
