.header-container .nav-bar {
    /* position: absolute; */
    display: flex;
    box-sizing: border-box;
    /* border: 1px dotted blue; */
    justify-content: space-around;
    width: 50%;
  }
  
  .header-container a {
    text-decoration: none;
    font-family: 'Archivo', sans-serif;
    color: black;
    transition: 0.3s all ease;
    font-size: 20px;
    font-weight: 300;
    border: 1px solid blue;
  }
  
  .header-container a:visited {
    color: black;
  }
  .header-container a:hover {
    color: white;
  }