.header-container .nav-bar {
    /* position: absolute; */
    display: flex;
    box-sizing: border-box;
    /* border: 1px dotted blue; */
    justify-content: space-around;
    width: 40%;
}

.header-container .nav-bar a {
    text-decoration: none;
    color: rgb(36, 35, 35);
    transition: 0.3s all ease;
    /* border: 1px solid blue; */
}

.header-container .nav-bar a:visited {
    color: rgb(36, 35, 35);
}
.header-container .nav-bar div:hover {
    color: rgb(243, 161, 54);
    cursor: pointer;
}

.header-container .nav-bar {
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.nav-bar div {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  /* border: 3px solid black; */
  border-radius: 999px;
  transition: 0.3s all ease;
  white-space: nowrap;
}

.nav-bar div img {
  margin-right: 5px;
}

.nav-bar div img:hover {
  color:  rgb(243, 161, 54);
}

@media (max-width: 1050px) {
  .header-container .nav-bar {
    width: 50%;
  }
}