#badges-index-container {
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.badge-info-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.badge-info-container p {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;
}

.RSPBprogressBar {
    margin-top: 30px;
    width: 70%;
    /* display:flex; */
    box-sizing: border-box;
}

.milestone-container {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.accomplished-milestone-level {
    font-weight: 700;
}

.milestone-container h1 {
    position: absolute;
    margin-top: 60px;
}

.milestone-dot {
    /* position: absolute; */
    width: 20px;
    height: 20px;
    /* border: 1px solid green; */
    border-radius: 50%;
    box-sizing: border-box;
    background-color: rgb(194, 194, 194);
}

.accomplished-milestone-dot {
    width: 20px;
    height: 20px;
    border: 1px solid #f7ba20;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #f0bb31;
}



.badge-info-container h1 {
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 5px;
}

.milestone-container h1 {
    font-weight: 300;
    font-size: 20px;
}


@media (max-width: 1224px) {
    .RSPBprogressBar {
        width: 90%;
    }
}