.profile-page-root {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.profile-page-header {
    padding: 0px 30px;
}
.profile-page-top {
    display: flex;
    height: 450px;
    padding: 0px 30px;
}

.profile-page-left {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 400px;
    box-sizing: border-box;
    border: 1px solid black;
}

.profile-page-picture {
    position: relative;
    margin: 1vw;
    width: 28vw;
    height: 30vh;
    border: 1px solid black;
    object-fit: cover;
    
}

.profile-page-upload-panel-toggle {
    position: absolute;
    bottom: 0;
    right: 0;
}

.profile-page-picture-file {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border: 1px solid rgba(55, 53, 47, 0.09);
    border-radius: 200px;
    background-color: white;
    margin-right: 12px;
}

.profile-page-user-details {
    margin: 1vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-page-user-details h2 {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 14px;
    background-color: gray;
    height: 20px;
    border-radius: 5px;
}

.profile-page-right {
    display: flex;
    width: 60vw;
    margin: 1vw;
    box-sizing: border-box;
    border: 1px solid black;
}

.profile-page-bottom {
    display: flex;
    flex-direction: column;
    width: 92vw;
    height: 35vh;
    margin: 1vw;
    box-sizing: border-box;
    border: 1px solid black;
}

.profile-page-bottom div {
    margin: 15px;
    width: 90%;
    height: 100px;
    border-radius: 10px;
    background-color: gray;
}

.profile-page-upload-panel-toggle {
    display: flex;
}

.profile-page-upload-panel-toggle:hover {
    background-color: gray;
    transition-duration: 200px;
    cursor: pointer;
}

.profile-picture-upload-panel {
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 10;
    width: 500px;
    height: 200px;
    background-color: brown;
}