#profile-reviews-container {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 2%;
}

.reviews-title-top {
  display: flex;
  justify-content: space-between;
}

.reviews-title-top > div {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.reviews-title-top > div img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.reviews-title-top .recipe-info-container {
  position: absolute;
  text-align: center;
}

.reviews-title-top .image-overlay {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgba(31, 30, 30, 0.507);
}

.reviews-title-top h1 {
  font-size: 2.2em;
  color: #ebe9e5;
  font-weight: 500;
  text-shadow: rgb(32, 32, 31) 1px 0 10px;
  text-transform: uppercase;
}

.reviews-title-top p {
  color: #ebe9e5;
}

.tile-options {
  position: absolute;
  right: 0;
}

.reviews-tile-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 15px;
}

.reviews-tile-container h2 {
  font-size: 1.4em;
  font-weight: 500;
}

.reviews-tile-title-input {
  font-size: 1.3em;
  font-weight: 500;
  width: 90%;
  padding: 5px 10px;
  border-radius: 12px;
  font-family: "Kanit", sans-serif;
  border: 1px solid black;
}

.reviews-tile-text-input {
  width: 90%;
  padding: 5px 10px;
  border-radius: 12px;
  font-family: "Kanit", sans-serif;
  height: 100px;
  word-wrap: break-word;
  overflow: auto;
}

.reviews-tile-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 6px;
}

.reviews-icons-section {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.reviews-tile-middle p {
  font-weight: 300;
}

.review-icon {
  width: 15px;
  height: 15px;
  transition: 0.3 ease all;
  cursor: pointer;
}

.review-x-icon {
  width: 20px;
  height: 20px;
  color: red;
  transition: 0.3 ease all;
  cursor: pointer;
}

.prof-star-ratings .filled {
  color: rgba(245, 194, 28, 0.897);
  width: 20px;
  height: 20px;
  font-size: 20px;
}

.prof-star-ratings .empty {
  color: gray;
  width: 20px;
  height: 20px;
  font-size: 20px;
}

.edit-icons {
  width: 25px;
  height: 25px;
  transition: 0.2s ease all;
  cursor: pointer;
}

.edit-icons:hover {
  color: rgba(245, 194, 28, 0.897);
}

.selected-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.review-selected-x-icon {
  width: 30px;
  height: 30px;
  color: red;
  cursor: pointer;
}

@media (max-width: 914px) {
  #profile-reviews-container {
    grid-template-columns: 90%;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 390px) {
  .reviews-title-top {
    font-size: 0.7em;
  }

  #profile-reviews-container {
    gap: 10px;
  }

  .reviews-tile-container {
    border-bottom: 1px solid gray;
  }
}
