#ai-chatbox {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 300px;
  height: 340px;
  background-color: #e8cd7c;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 500;
  transition: all 0.3s ease;
  padding: 20px;
}

#recipe-assistant-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

#recipe-assistant-form {
  display: flex;
  flex-direction: column;
}

#recipe-assistant-input {
  font-family: "Kanit", sans-serif;
  border: 2px solid gray;
  line-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

#recipe-assistant-button {
  font-family: "Kanit", sans-serif;
  display: none;
}

#chat-thread-container {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  height: 250px;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#lastQ-text,
#otherQ-text {
  background-color: rgb(215, 215, 215);
  border-radius: 5px;
  padding: 5px;
  margin-left: 45px;
  width: 230px;
  margin-bottom: 10px;
  line-height: 18px;
}

#lastA-text,
#otherA-text {
  background-color: #f9c012;
  border-radius: 5px;
  padding: 5px;
  width: 230px;
  left: 0px;
  margin-bottom: 10px;
  line-height: 18px;
}

#ai-chatbubble {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 1001;
  height: 40px;
  width: 40px;
  border: 10px solid white;
  border-radius: 50%;
  animation: spin 2s infinite linear;
  background-color: white;
  transition: 0.3s;
}

@keyframes spin {
  0% {
    transform: rotate(0);
    border-top: 10px solid white;
  }
  25% {
    transform: rotate(0);
    border-top: 10px solid #f9c012;
  }
  50% {
    border-top: 10px solid white;
  }
  75% {
    transform: rotate(0);
    border-top: 10px solid rgb(125, 202, 231);
  }
  100% {
    transform: rotate(360deg);
    border-top: 10px solid white;
  }
}

#open-chatbox-questionmark {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 42px;
  z-index: 1002;
  color: rgb(24, 23, 23);
}

#open-chatbox-button:hover #open-chatbox-questionmark {
  cursor: pointer;
}

.hidden {
  display: none;
}

#hover-container {
  background-color: gray;
  height: 70px;
  width: 70px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  transition: 0.3s;
  z-index: 501;
}

#hover-container:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

#spinner-container {
  background-color: #f9c012;
  border-radius: 5px;
  padding: 5px;
  width: 230px;
  left: 0px;
  margin-bottom: 10px;
  height: 50px;
}

#spinner {
  height: 30px;
  width: 30px;
  border: 10px solid #fcd665;
  border-radius: 50%;
  animation: spiny 1s infinite linear;
}

@keyframes spiny {
  0% {
    transform: rotate(0);
  }
  50% {
    border-top: 10px solid white;
  }
  100% {
    transform: rotate(360deg);
  }
}
